{% extends 'layout.html' %}

{% block homepage %}
    <body id="page-top">
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead CUKT LOGO-->
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Get started with CUKT</h1>

                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <h2> <p class="masthead-subheading font-weight-light mb-0">Share and taste amazing food</p> </h2>
            </div>
        </header>
        <!-- Panel Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Panel Grid Items-->
                <div class="row justify-content-center">
                    <!-- Search for a Meal/Social Eating Event-->
                    <div class="container">
                        <div class="text-center">
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 mb-4">
                                <div class="portfolio-item">
                                    <a class="nav-link" href="{{ url_for('createEvent')}}">
                                        <div class="portfolio-hover" >
                                        </div>
                                        <img class="img-fluid" src="{{url_for('static', filename='template/assets/img/portfolio/01-thumbnail.jpg')}}" alt="" />
                                    </a>
                                    <h2>
                                        <div class="portfolio-caption text-center text-white">
                                        <div class="portfolio-caption-heading">Create a social eating event</div>
                                        </div>
                                    </h2>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 mb-4">
                                <div class="portfolio-item">
                                    <a class="nav-link" href="{{ url_for('booking')}}">
                                        <div class="portfolio-hover" >
                                        </div>
                                        <img class="img-fluid" src="{{url_for('static', filename='template/assets/img/portfolio/01-thumbnail.jpg')}}" alt="" />
                                    </a>
                                    <h2>
                                        <div class="portfolio-caption text-center text-white">
                                        <div class="portfolio-caption-heading">Search for an eating event</div>
                                        </div>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 mb-4">
                                <div class="portfolio-item-caption-content text-center text-white-item">
                                    <a class="nav-link" href="{{ url_for('share')}}">
                                        <div class="portfolio-hover">
                                        </div>
                                        <img class="img-fluid" src="{{url_for('static', filename='template/assets/img/portfolio/02-thumbnail.jpg')}}" alt="" />
                                    </a>
                                    <h2>
                                        <div class="portfolio-caption text-center text-white">
                                        <div class="portfolio-caption-heading">Share a meal</div>
                                        </div>
                                    </h2>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 mb-4">
                                <div class="portfolio-item-caption-content text-center text-white-item">
                                    <a class="nav-link" href="{{ url_for('searchmeal')}}">
                                        <div class="portfolio-hover">
                                        </div>
                                        <img class="img-fluid" src="{{url_for('static', filename='template/assets/img/portfolio/03-thumbnail.jpg')}}" alt="" />
                                    </a>
                                    <h2>
                                        <div class="portfolio-caption text-center text-white">
                                        <div class="portfolio-caption-heading">Search for a meal</div>
                                        </div>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div>

        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static',filename='template/js/scripts.js') }}"></script>
    </body>
{% endblock homepage %}
